/* Sembra non funzionare bene col .container*/
body {
    width: 100%;
    height: 100vh;
    background: rgb(29, 209, 204);
    background: linear-gradient(180deg, rgba(29, 209, 204, 1) 0%, rgba(71, 199, 195, 1) 15%, rgba(230, 229, 229, 1) 15%, rgba(230, 229, 229, 1) 100%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Bloccone app */
.app {
    width: 100%;
    height: 95vh;
    /* height: calc(100vh - 2rem); */
}

.avatarUser {
    width: 35px;
    height: 35px;
}

.user {
    height: 10%;
}

/* Bloccone a sinistra */
#left {
    width: 30%;
}

/* Bloccone a destra */
#right {
    width: 70%;
}

i {
    font-size: 1.5rem;
}

/* Schermata della chat */
.containerBox {
    height: 80%;
}

.container-contatti,
.messaggi {
    height: 50vh;
    overflow: auto;
}
.orarioContatti{
    font-size: 0.6rem;
}

/* Avatar dei contatti */
.avatar {
    width: 50px;
}

.msgTabHover:hover {
    transition: 0.3s ease-in-out;
    background-color: lightgray;
}

.msgTabHover:not(:hover) {
    transition: 0.3s ease-in-out;
}

/* Nostro messaggio in chat */
.ourMessage {
    text-align: right;
    /* width: 100%; */
    display: inline-block;
    text-align: right;
    padding: 1rem;
    background-color: chartreuse;
}

.ourMessage span {
    padding: 0rem 1.5rem 0 0.75rem;
    margin: 0 0.5rem 0 0;
}

.boxMessaggio{
    width: fit-content;
}
/* Messaggio del contatto */
.contactMessage {
    text-align: left;
    /* width: 100%; */
    display: inline-block;
    text-align: left;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}

.contactMessage span {
    padding: 0rem 1.5rem 0 0.75rem;
    margin: 0 0.5rem 0 0;
}

.hour {
    font-size: 0.7rem;
}

.message {
    border-radius: 0.7rem;
}

/* Barra sotto la chat */
.undermsg {
    height: 10%;
}

.active{
    display: none !important;
}
.onRight{
    margin-left: auto;
}

i:hover{
    color: rgb(41, 41, 41);
}
/* Da chiedere, perché all'avvio rompe tutto per 200ms? */
i:not(:hover){
    transition: 0.3s ease-in-out;
}